<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConnStr" connectionString="server=192.168.0.51;uid=sa;pwd=Atbms1q2w3e4r;database=OA_BIB_DEV"/>
  </connectionStrings>
</configuration>